.billetterie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.pass-cards {
    padding: 1.25rem;
    display: flex;
    flex-direction: row;
}

.info {
    color: black;
    background-color: #E35944;
    font-family: "Roboto";
    padding: 4rem;
}

.info2 {
    font-size: 1.5rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    border-radius: 0.75rem;
    background-color: white;
    display: flex;
    padding: 2rem;
}

@media (max-width: 900px) {
    .pass-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info {
        color: black;
        background-color: white;
        font-family: "Roboto";
        padding: 0.625rem;
        width: 80%;
        border-radius: 0.75rem;
    }
}