.titre-info-p {
    font-family: 'DM Serif Display';
    font-size: 2.25rem;
    margin-top: 0.625rem;
    padding: 1.25rem;
}

.content-2 {
    font-family: "Roboto";
    font-size: 1.25rem;
    padding: 1.25rem;
}

.content-3 {
    font-family: "Roboto";
    font-size: 1.25rem;
    margin: 1.25rem;
    color: #A90000;
    border-width: 2px;
    border: solid;
    padding: 0.625rem;
}

.content-4 {
    display: flex;
    flex-direction: row;
}

.restauration {
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
    margin-top: 50px;
}

.content-5 {
    font-family: "Roboto";
    font-size: 1.25rem;
    margin: 1.25rem;
}
.maps-responsive{
    width:100%;
    height:auto;
}