.pass {
    height: 15.5rem;
    width: 15.5rem;
    margin: 0.625rem;
}

.intitule {
    background-color: #F19135;
    font-size: 25px;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 20%;
    border-radius: 12px 12px 0 0;
}

.content-6 {
    background-color: white;
    font-family: 'Roboto';
    width: 100%;
    height: 80%;
    border-radius: 0 0 12px 12px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    align-items: center;
}

.prix {
    font-size: 2.25rem;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reduc {
    font-size: 1.25rem;
    text-decoration: line-through;
    margin-left: 15px;
}

.CTA-3 {
    background-color: #F19135;
    color: black;
    width: fit-content;
    padding: 5px 1.25rem 0.625rem 1.25rem;
    border-radius: 6px;
    margin-top: 50px;
    margin-bottom: 15px;
    cursor: pointer
}