.titre {
  font-family: "DM Serif Display";
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.groupe {
  display: flex;
  flex-direction: row;
}

.artiste {
  display: flex;
  height:400px;
  width: 100%;
}

.image{
  max-height: 100%;
  width:auto;
}

.desc {
  font-size: 1.125rem;
  font-family: "Roboto";
  padding: 0.625rem;
}

.nomGr {
  padding: 0.625rem;
  font-size: 1.25rem;
  font-weight: bolder;
}
.moitie1 img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
.moitie2 img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
.moitie4 img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
.moitie3 {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 900px) {
  .titre {
    font-size: 1.8rem;
  }

  .groupe {
    display: flex;
    flex-direction: column;
  }
  .artiste {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .image{
    margin-left:10%;
    max-width: 80%;
    height:auto;
  }
  .nomGr{
    text-align: center;
  }
  .desc {
    font-size: 1rem;
  }
}
